*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color:  #ddd;
}
.row{
    width: 100%;
    padding: 50px 100px;
}
.image-section{
    width: 50%;
    float: left;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content{
    width: 60%;
    float: left;
    margin-left: 50px;
}
.content h1{
    font-size: 60px;
    letter-spacing: 2px;
    margin-top: 30px;
  
}
.content h2{
    font-size: 40px;
    font-family: sans-serif;
    color:  #b60112;
    margin-top: 25px;
}
.content p{
    font-size: 18px;
    font-family: serif;
    margin-top: 10px;
    line-height: 1.5;
}
@media screen and (max-width: 768px){
    .image-section{
        width: 100%;
        float: none;
    }
    .content{
        width: 60%;
        float: none;
        margin-left: 0px;
    }
}